{%extends "_base.html"%} {%block content%} {% load staticfiles %}
<link rel="stylesheet" href="{%static 'videos/user-videos.css'%}">

<h1 style="text-align: center">The LEGENDARY SUPER SAYIAN GOKU</h1>
<h3>Videos submitted must be in the .webm format.</h3>
<div class="card card-body bg-light"><div class="card card-body bg-light">
<form enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="upload"/>
</div></div>
</form>
{%endblock%}
